<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Products</title>
</head>
<body>
    <h2>Edit Product</h2>

        <form action="/update" method="post">
         Name <input type="text" name="txtName" value="{{Product.name}}">
        <br>
        Price <input type="text" name="txtPrice" value="{{Product.price}}">
        <br>
        Amount <input type="text" name="txtAmount" value="{{product.Amount}}">
        <br>
        Description <input type="text" name="txtDescription" value="{{Product.Description}}">

        <input type="submit" value="Update Product">
    </form>
</body>
</html>